<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Virtual Hack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- BootStrap Libraries -->
    <script src="../Public/scripts/Bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../Public/scripts/Bootstrap/css/bootstrap.min.css">

    <!-- User Defined Javascript -->
    <link rel="stylesheet" href="../Public/scripts/main.css">

    <!-- CDN -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../Public/scripts/sidebar.css">

    <script src="../Public/scripts/main.js"></script>
    <script src="../Public/scripts/dynamics.js"></script>

</head>
<body>
<!-- First Container -->
<div class="container-fluid bg-1 text-center tab1">
    <h2 class="margin" style="padding-top: 20px">Welcome to the VR Hack <br> SF HACK</h2>

    <p style="padding-bottom: 30px">This VR Hack is made to introduce to people who is participating in a hackathon for the first time.
    <br>We plan to encourage people that the term "Hackathon" is not scary at all.<br> With that said we hope you like this as it shows you that hackathons itself isn't scary at all</p>
    <!--<p><button class="btn btn-success" style="padding: 10px 20px;"><a href="introduction.html">ENTER</a></button> </p> -->

<div id="slideshow-wrap">
    <input type="radio" id="button-1" name="controls" checked="checked"/>
    <label for="button-1"></label>
    <input type="radio" id="button-2" name="controls"/>
    <label for="button-2"></label>
    <input type="radio" id="button-3" name="controls"/>
    <label for="button-3"></label>
    <input type="radio" id="button-4" name="controls"/>
    <label for="button-4"></label>
    <input type="radio" id="button-5" name="controls"/>
    <label for="button-5"></label>
    <label for="button-1" class="arrows" id="arrow-1">></label>
    <label for="button-2" class="arrows" id="arrow-2">></label>
    <label for="button-3" class="arrows" id="arrow-3">></label>
    <label for="button-4" class="arrows" id="arrow-4">></label>
    <label for="button-5" class="arrows" id="arrow-5">></label>
    <div id="slideshow-inner">
        <ul>
            <li id="slide1">
                <img src="../Public/Images/" style="width:620px;height:400px"/>
            </li>
            <li id="slide2">
                <img src="../Public/Images/" style="width:620px;height:400px"/>
            </li>
            <li id="slide3">
                <img src="../Public/Images/" style="width:620px;height:400px"/>
            </li>
            <li id="slide4">
                <img src="../Public/Images/" style="width:620px;height:400px"/>
            </li>
            <li id="slide5">
                <img src="../Public/Images/" style="width:620px;height:400px"/>
            </li>
        </ul>
    </div>
</div>
    <p style="padding-top: 40px;"> Here is the link that you could download to experience the <a href="#">VR Hack</a></p>
    <p>Below would redirect you to our Members page</p>
    <button><a href="members.html" style="color: black;">Members</a></button>
</div>
<!--<embed src="CM191T_Syllabus_SP2017.docx.pdf" width=100% height=100% alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">-->


<!-- Footer -->
<footer class="cont bg-4 text-center">
    <!--<p>&copy;Construction Management, California State University, Fresno <a href="http://www.fresnostate.edu/engineering/cm/">Visit Us</a></p> -->
    <p>VR HACK</p>
</footer>
</body>
</html>

