<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- BootStrap Libraries -->
    <script src="../Public/scripts/Bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../Public/scripts/Bootstrap/css/bootstrap.min.css">

    <!-- User Defined Javascript -->
    <link rel="stylesheet" href="../Public/scripts/main.css">

    <!-- CDN -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../Public/scripts/sidebar.css">

    <script src="../Public/scripts/main.js"></script>
    <script src="../Public/scripts/dynamics.js"></script>

    <title>Members</title>
</head>
<body>
<div class="container-fluid bg-1 text-center tab1">
    <h2 class="margin" style="padding-top: 20px">Team <br> Members</h2>
    <div class="memberlist">
        <img src="../Public/Images">
        <img src="../Public/Images">
        <img src="../Public/Images">
        <img src="../Public/Images">
    </div>
</div>


<footer class="cont bg-4 text-center">
    <!--<p>&copy;Construction Management, California State University, Fresno <a href="http://www.fresnostate.edu/engineering/cm/">Visit Us</a></p> -->
    <p>VR HACK</p>
</footer>
</body>
</html>